/* header */

.search-input::placeholder {
  color: gray;
}
/* Main */
.rp-title {
  width: 50%;
}

.rp-state {
  width: 30%;
}

.rp-action {
  width: 20%;
}

.internal-card {
  width: 100%;
}

.rp-ul-todo {
  border: 1px solid rgba(128, 128, 128, 0.299);
  border-radius: 5px;
}
