/* header */

.search-input::placeholder {
  color: gray;
}
/* Main */

.rp-title {
  width: 40%;
}
.rp-date {
  width: 30%;
}
.rp-state {
  width: 15%;
}
.rp-action {
  width: 15%;
}

.rp-ul {
  border: 1px solid rgba(128, 128, 128, 0.299);
  border-radius: 5px;
}
